export(add.arrow, add.color.bar, add.everywhere, add.random, add.simmap.legend, add.species.to.genus, allFurcTrees, anc.Bayes)
export(anc.ML, anc.trend, ancThresh, applyBranchLengths, ave.rates, averageTree)
export(backbone.toPhylo, bmPlot, bind.tip, biplot.phyl.pca, branching.diffusion, brownie.lite, brownieREML)
export(cladelabels, collapse.to.star, collapseTree, consensus.edges, contMap, cophylo, countSimmap, compute.mr)
export(densityMap, densityTree, describe.simmap, di2multi.simmap, dot.legend, dotTree, drop.clade, drop.leaves)
export(drop.tip.contMap, drop.tip.densityMap, drop.tip.simmap, drop.tip.singleton)
export(edgelabels.cophylo, edgeProbs, estDiversity, evol.rate.mcmc, evol.vcv, evolvcv.lite, exhaustiveMP, expm, export.as.xml)
export(extract.clade.simmap, extract.strahlerNumber)
export(fancyTree, fastAnc, fastBM, fastDist, fastHeight, fastMRCA, findMRCA, fitBayes, fitMk, fitDiversityModel, fitPagel)
export(gammatest, genus.to.species.tree, genSeq, getCladesofSize, getDescendants, getExtant, getExtinct, getSisters, getStates)
export(ladderize.simmap, lambda.transform, likMlambda, locate.fossil, locate.yeti, ls.consensus, ls.tree, ltt, ltt95)
export(make.era.map, make.simmap, map.overlap, map.to.singleton, mapped.states, markChanges, matchLabels, matchNodes)
export(mergeMappedStates, midpoint.root, minRotate, minSplit, minTreeDist, mrp.supertree, multi.mantel, multiC, multiRF)
export(nodeheight, nodeHeights, nodelabels.cophylo)
export(optim.phylo.ls, orderMappedEdge)
export(paintBranches, paintSubTree, paste.tree, pbtree, pgls.Ives,phenogram, phyl.cca, phyl.pairedttest, phyl.pca, phyl.resid, phyl.RMA)
export(phyl.vcv, phylo.heatmap, phylo.toBackbone,phylo.to.map, phylANOVA, phyloDesign, phylomorphospace, phylomorphospace3d, phylosig)
export(plotBranchbyTrait, plot.contMap, plot.cophylo, plot.densityMap, plot.phylo.to.map, plotSimmap, plotThresh, plotTree)
export(plotTree.singletons, plotTree.splits, plotTree.wBars, posterior.evolrate)
export(ratebystate, rateshift, read.newick, read.simmap, reorder.backbonePhylo, reorderSimmap, rep.multiPhylo, rep.phylo, repPhylo)
export(reroot, rerootingMethod, rescaleSimmap, rotateNodes, rootedge.to.singleton, roundBranches, roundPhylogram, rstate)
export(sampleFrom, setMap, sim.corrs, sim.history, sim.ratebystate, sim.rates, skewers, splitEdgeColor, splitplotTree)
export(splitTree, starTree, strahlerNumber)
export(threshBayes, threshDIC, threshState, tiplabels.cophylo, tipRotate, to.matrix, treeSlice)
export(untangle)
export(vcvPhylo)
export(write.simmap, writeAncestors, writeNexus)

S3method(plot, densityMap)
S3method(plot, contMap)
S3method(plot, phylo.to.map)
S3method(plot, backbonePhylo)
S3method(reorder, backbonePhylo)
S3method(print, backbonePhylo)
S3method(print, phyl.pca)
S3method(summary, phyl.pca)
S3method(biplot, phyl.pca)
S3method(print, brownie.lite)
S3method(print, densityMap)
S3method(print, contMap)
S3method(print, rateshift)
S3method(logLik, rateshift)
S3method(print, evol.vcv)
S3method(plot, ltt95)
S3method(print, ltt95)
S3method(plot, describe.simmap)
S3method(print, describe.simmap)
S3method(rep, phylo)
S3method(rep, multiPhylo)
S3method(print, fitPagel)
S3method(print, ltt)
S3method(print, multiLtt)
S3method(plot, ltt)
S3method(plot, multiLtt)
S3method(plot, cophylo)
S3method(print, cophylo)
S3method(plot, simmap)
S3method(print, simmap)
S3method(summary, simmap)
S3method(plot, multiSimmap)
S3method(print, multiSimmap)
S3method(summary, multiSimmap)
S3method(reorder, simmap)
S3method(plot, rateshift)
S3method(print, fastAnc)
S3method(print, anc.ML)
S3method(print, fitMk)
S3method(summary, fitMk)
S3method(logLik, fitMk)
S3method(print, brownieREML)
S3method(AIC, fitMk)
S3method(print, phylo.to.map)

importFrom(animation, ani.options, ani.record, ani.replay, saveVideo)
importFrom(ape, .PlotPhyloEnv, .uncompressTipLabel, ace, all.equal.phylo, as.DNAbin, bind.tree, branching.times, collapse.singles)
importFrom(ape, consensus, compute.brlen, cophenetic.phylo, di2multi, dist.dna, dist.nodes, drop.tip, edgelabels, extract.clade)
importFrom(ape, is.binary.tree)
importFrom(ape, is.monophyletic, is.rooted, is.ultrametric, ladderize, matexpo, mrca, multi2di, neworder_phylo, neworder_pruningwise)
importFrom(ape, nodelabels, Ntip, pic, plot.phylo, prop.part, read.tree, reorder.phylo, root, rotate, rtree, stree, tiplabels)
importFrom(ape, unroot, vcv, vcv.phylo, write.tree)
importFrom(clusterGeneration, genPositiveDefMat)
importFrom(maps, map)
importFrom(mnormt, dmnorm, pd.solve)
importFrom(msm, MatrixExp)
importFrom(numDeriv, hessian)
importFrom(phangorn, allTrees, Ancestors, as.phyDat, dist.hamming, NJ, nni, optim.parsimony, parsimony, phyDat, pratchet, nnls.tree)
importFrom(plotrix, draw.arc, draw.circle, textbox)
importFrom(scatterplot3d, scatterplot3d)
importFrom(stats, cophenetic, reorder, runif, setNames, optim, dexp, dnorm, rnorm, var, nlminb, biplot, pchisq, rexp, optimize, logLik, as.dist, pnorm, median, cor, aggregate, rgamma, dgamma, lm, rbinom, rgeom, pt, anova, p.adjust, screeplot, rchisq, optimHess, rmultinom, sd, dunif, dist)
importFrom(methods, hasArg)
importFrom(graphics, strwidth, par, segments, locator, lines, text, strheight, symbols, plot, layout, plot.new, title, axis, points, plot.window, polygon, rect, curve, image)
importFrom(utils, flush.console, installed.packages, str, capture.output)
importFrom(grDevices, palette, colors, dev.hold, dev.flush, rainbow, heat.colors, gray, colorRampPalette, dev.new, rgb,
pdf, dev.off, col2rgb)

